


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

/* TRANSITIONS */

a, 
.btn {
    transition: all 300ms ease;
}

/* DESKTOP NAV*/

nav, 
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

sup {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-underline-offset: 0.3rem;
}

/* HAMBURGER MENU */

#hamburger {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    transition: all 0.3 ease-in-out;
    background-color: black;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: rgb(181, 181, 181);
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    margin-top: 10px;
    max-height: 300px;
    border: 2px solid;
    border-radius: 0.5rem;
    border-color: rgb(163, 163, 163);
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* SECTION DESIGNS */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* PROFILE */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    border: 6px solid black;
    border-style: dashed;
    border-radius: 200px;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text__p1, .section__text__p2 {
    font-weight: 600; 
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    text-align: 1.75rem;
    margin-bottom: 1rem;
    font-size: 1. 5rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.dwyane {
    border-radius: 50%;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1, 
.btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover, 
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1, 
.btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover {
    background: rgb(0, 0, 0);
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

/* ABOUT ME */

#about {
    position: relative;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.things-containers {
    gap: 2rem;
    margin-top: 2rem;
    display: flex;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position:absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.about-me-pic {
    border-radius: 2rem;
}

.text-container {
    text-align: justify;
}

/* EXPERIENCE SECTION */

#experience {
    position: relative;
}

.experience-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

.article-container-2 {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-around;
}

.article-container-2 article {
    width: 15rem;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article.icon {
    cursor: default;
}

/* PROJECTS SECTION */

.gallery-container {
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box {
    width: 100px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    border: rgb(53, 53, 53) 0.1rem solid;
    background: url(./assets/img1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    transition: width 0.5s;
    transition: 0.5s ease;
}

.img-box:nth-child(2) {
    background: url(./assets/img2.jpg);
    background-position: center;
    background-size: cover;
}

.img-box:nth-child(3) {
    background: url(./assets/img3.jpg);
    background-position: center;
    background-size: cover;
}

.img-box:nth-child(4) {
    background: url(./assets/img4.jpg);
    background-position: center;
    background-size: cover;
}

.img-box:nth-child(5) {
    background: url(./assets/img5.jpg);
    background-position: center;
    background-size: cover;
}

.img-box:nth-child(6) {
    background: url(./assets/img6.jpg);
    background-position: center;
    background-size: cover;
}

.img-box:last-child {
    background: url(./assets/img7.jpg);
    background-position: center;
    background-size: cover;
}

.img-box h3 {
    color: white;
    position: absolute;
    bottom: 0;
    right: 30px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.img-box:hover {
    width: 300px;
    cursor: pointer;
    opacity: 1;
    border: rgb(39, 39, 39) 0.3rem solid;
    border-style: dashed;
}

.img-box:hover h3 {
    opacity: 1;
    bottom: 25px;
}

#artworks {
    position: relative;
}

/* CONTACT PAGE */

#contacts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 77vh;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 0rem auto;
    margin-top: 4rem;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
}

.email-icon {
    height: 2.6rem;
}

/* FOOTER */

footer {
    height: 23vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}

/* PROJECTS */

.color-container {
    border-color: rgb(163, 163, 163);
}

.project-title {
    margin: 1rem;
    color: black;
}

.project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
    justify-content: right;
}

.project-img {
    height: 30%;
    width: 40%;
    border-radius: 2rem;
    float: left;
    margin-right: 40px;
    margin-top: 2.5px;
    border: 6px solid black;
    border-style:dashed;
}

.project-p {
    text-align: justify;
    margin-bottom: 15px;
}

.p-profile {
    width: 700px;
    padding-bottom: 50px;
    font-weight: initial;
}

.me-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.me-containers {
    display: flex;
}

.album-img {
    width: 110px;
    height: 110px;
    border-radius: 1rem;
    border: 0.1rem solid;
    border-color: rgb(163, 163, 163);
}

.all-albums {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}